[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-groq = "*"
python-dotenv = "*"
langchain-community = "*"
pypdf = "*"
cryptography = ">=3.1"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
